<!DOCTYPE html>
<!-- <html manifest="cache.manifest"> -->
<html>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <meta name="keywords"
    content="OBD2 scanner|Car repair|code reader|bluedriver|Bluetooth Scanner|THINKDIAG|OBD2 reader|Throttle match|scan tools|obd2|resetbrake|resettpms|ThinkCar|星卡" />
  <meta name="description" content="THINKDIAG supports full vehicle diagnostics, special function, actuation test,  16 maintenance functions - ABS bleeding, DPF regeneration, throttle adaptation, battery matching, injector coding, sunroof initialisation, immobilizer matching, engine oil lamp reset, brake pad reset, tire pressure reset, steering angle reset, gear training, gearbox matching, 
  headlights matching, suspension matching, and suspension reset" />
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" /> -->
  <meta name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
  <script src="https://as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
  <title>Thinkcar</title>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"> -->
  <link rel="stylesheet" href="https://mythinkcar.com/other/animate.min.css">
  <!-- <link rel="stylesheet" href="https://mythinkcar.com/sprites/sprites.css"> -->
  <!-- <link rel="bookmark" href="https://mythinkcar.com/Home/img/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="https://mythinkcar.com/Home/img/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="https://mythinkcar.com/Home/img/favicon.ico" type="image/x-icon" /> -->
  <!-- <style>
    #tc_pinitbg {
      text-align: center;
      padding-top: 10%;
    }

    #tc_pinitbg .tc_pib_img {
      display: inline-block;
      width: 50%;
      text-align: center;
      text-align: -webkit-center;
      object-fit: cover;
    }
  </style> -->
  <script>
    if ('addEventListener' in document) {
      document.addEventListener('DOMContentLoaded', function () {
        FastClick.attach(document.body);
      }, false);
    }
    if (!window.Promise) {
      document.writeln('<script src="https://as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"' + '>' + '<' + '/' + 'script>');
    }
  </script>
  <!-- Facebook Pixel Code -->
  <noscript>
    <img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=207111133800162&ev=PageView&noscript=1" />
  </noscript>
  <!-- End Facebook Pixel Code -->
</head>

<body>
  <!-- <div id="tc_pinitbg">
    <figure>
      <img class="tc_pib_img animated infinite bounce delay-4s" src="https://mythinkcar.com/Home/img/product_1.png" />
    </figure>
  </div> -->
  <div id="root"></div>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157704192-1"></script>

  <div id="fb-root"></div>
  <script>
    var _loadInfo = function () {
      if (window.location.search.indexOf('logintype') == -1) {
        window.fbAsyncInit = function () {
          FB.init({
            xfbml: true,
            version: 'v5.0'
          });
        };
        setTimeout(function () {
          (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.async = true;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

          window.dataLayer = window.dataLayer || [];
          function gtag() { dataLayer.push(arguments); }
          gtag('js', new Date());
          gtag('config', 'UA-157704192-1');

          !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
              n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
            n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
          }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '207111133800162');
          fbq('track', 'PageView');

        }, 5000)
      }
    };
    window.addEventListener("load", function () { _loadInfo(); }, false);

  </script>
  <div class="fb-customerchat" attribution="setup_tool" page_id="113879770027054"  theme_color="#2e3192"></div>

</body>

</html>